.vscode/**
.vscode-test/**
src/**
docs/**
out/test/**
**/*.map
**/*.ts
.gitignore
eslint.config.mjs
.vscode-test.mjs
tsconfig.json
CLAUDE.md
coverage/**
scripts/**
.github/**
.prettierrc.json
.prettierignore
